# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.iml
build/
pubspec.lock

# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
Pods/
Podfile.lock
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
DerivedData/

# macOS
macos/Flutter/ephemeral/
.DS_Store

# IDE
.idea/
.vscode/
